//home header styling
//this includes the appbox logo in the left corner and the navigation bar in the right corner at the very top of the page.
.home {
  color: $primary-font-color;
  margin: 0;

}
.home-h1 {
  margin-bottom: 1em;
}

.home-header {
  padding-top: .5em;
  background-color: $background-A;
  margin-bottom: 1em;


}
.home-nav {
	display: inline;
}
.home-nav li {
	padding-right: .5em;
	display: inline;
}
.home-nav-a {
	color: $primary-font-color;
	text-decoration: none;
}
.appbox-logo {
	display: inline;
  
}
//mobile view
@media (max-width:800px) {
  .home-h1 {
    font-size: $small-font-size;
  }
  .home-nav {
    font-size: 3em;
  }
}
//altered code for desktop view
@media (min-width:1024px) {
  .home-header {
   display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
}
  .home-nav {
    margin-top: .5em;
    font-size: $medium-font-size;
    margin: 0 auto;
  }

  .home-nav ul {
    justify-content: center;
  }

  .home-nav ul li {
    width: auto;
    margin: 0 auto;
  }

  .home-h1 {
    font-size: $medium-font-size;
  }
}