//home top styling
//this includes the The best way....title followed by the video and the 2 phone images
.home-top {
	@extend %section-layouts;
	background-color: $background-A;
}

.home-h1 {
	font-size: $large-font-size;
	padding-top: 1em;
	margin-top: 0;
}
.home-p {
	color: $primary-font-color;
	line-height: .2em;
}
 .home-p-first-sentance {
	font-size: .5em;
}
.home-p-second-sentance {
	font-size: $tiny-font-size;
}
.home-intro-vid {
	color: $primary-font-color;
	text-decoration: none;
	font-size: $small-font-size;
}
.home-video {
	margin-top: 1em;
}
.home-video-image {
	@extend %square;
	margin: 0 auto;
	margin-top: 15em;
	margin-bottom: 5em;
	padding-top: 2em;
	border-left-width: 2em;
	border-right-width: 2em;
	height: 50em;
	width: 100em;
	border-top-width: 2em;
	border-bottom-width: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	border-left-width: 2em;
	border-color: $white;
	background-color: $low-light;
	z-index: 0;
	position: relative;
} 
.home-phone-pic {
	padding-bottom: 2em;
    margin: 0;
    margin-top: 2em;
}
.icon-play {
	font-size: 8em;
	color: $background-B;
	z-index: 10;
	top: 7.5em;
	position: absolute;
	margin: 0 auto;
}

