//home middle styling
//this is the "get it for free" title, paragraph, and google play and ios app store buttons.
.a3-home-middle {
  @extend %section-layouts;
  background-color: $background-C;
  & .slant {
    @extend %svg;
    fill: $background-A;
    background-color: transparent;
  }
}
.home-arrow {
	margin-left: 8em;
	margin-bottom: 0;
}
.home-middle-p {
	@extend %small-font;
	margin: 0;
}
.home-google-ios li{
	display: inline-block;
}
.home-google-ios {
	a {
		color: $white;
		text-decoration: none;
		font-size: $medium-font-size;
	}
}
.google-play-button {
	@extend %google-play-button;
}
.iOS-app-button {
	@extend %iOS-app-button;
}

