//home middle styling
//this is the "get it for free" title, paragraph, and google play and ios app store buttons.
.home-middle {
  @extend %section-layouts;
  background-color: $background-C;
  & .slant {
    @extend %svg;
    fill: $background-A;
    background-color: transparent;
  }
}
