//home middle styling
//this is the "get it for free" title, paragraph, and google play and ios app store buttons.
.home-middle {
	background-color:  $background-C;
}
.home-arrow {
	margin-top: 1em;
}
.home-middle-p {
	@extend %small-font;
}
.home-google-ios {
	
}
.home-google-ios li{
	display: inline-block;
}
.google-ios-button {
	@extend %circle;
}
.google-play-button {

}
.ios-app-button {

}
.home-google-ios {
	a {
		color: $white;
		text-decoration: none;
		font-size: $medium-font-size;
	}
}