//home bottom styling
//this includes some amazing features and icons below that
.home-bottom {
  @extend %section-layouts;
  background-color: $low-light;
  & .slant {
    @extend %svg;
    fill: $background-C;
    background-color: transparent;
  }
}
.home-feature {
	margin-bottom: 6em;
}

.home-feature-h5 {
  color: $primary-font-color;

}
.home-feature figcaption {
	font-size: $tiny-font-size;
	max-width: 20em;
	margin: 0 auto;
  color: $primary-font-color;
}
.home-feature-laptop {
	margin-top: 6em;
}

