//home bottom styling
//this includes some amazing features and icons below that
.a4-home-bottom {
  @extend %section-layouts;
  background-color: $low-light;
  & .slant {
    @extend %svg;
    fill: $background-C;
    background-color: transparent;
  }
}
.home-feature {
	margin-bottom: 6em;
}
.home-feature-h5 {
  color: $primary-font-color;
}
.home-feature figcaption {
	font-size: $tiny-font-size;
	max-width: 20em;
	margin: 0 auto;
  color: $primary-font-color;
}
.home-feature-laptop {
	margin-top: 6em;
}

@media (min-width: 1024px) {
  .home-feature-laptop {
    margin-top: 1em;
  }
    .home-feature-list{
      display: flex;
      margin-left: 17%;
      text-align: center;
    }

}

