.b1-support-download {
  @extend %section-layouts;
  background-color: $background-B;
}
.b1-arrow {
	width: 5em;
}
.b1-part1 {
	color: $primary-font-color;
}
.b1-part1-button {
	background-color: $white;
	text-decoration: none;
	color: $background-A;
	border-top: 0.2em solid $contrast-B;
    border-bottom: 0.2em solid $contrast-B;
    border-right: 0.1em solid $contrast-B;
    border-left: 0.1em solid $contrast-B;
    border-radius: 6.25em;
    width: 10em;
    margin: 0 auto;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 12em;
}
.b1-h1 {
	margin-top: 1em;
	font-size: $large-font-size;
	color: $primary-font-color;
}
.b1-p {
	font-size: $small-font-size;
	text-align: center;
}
.b1-h1-free {
	font-size: $med-lg-font-size;
	margin-top: 2em;
}
.b1-part2 {
	margin-bottom: 2em;
}
.b1-android-iOS {
	margin-bottom: 5em;
	display: flex;
	flex-direction: row;
}
.icon-android {
	color: $primary-font-color;
}
.icon-iOS {
	color: $primary-font-color;
}
