.b2-support-features {
  @extend %section-layouts;
  background-color: $background-A;
  & .slant {
    @extend %svg;
    fill: $background-B;
    background-color: transparent;
  }
}
.b2-iphone-pic {
  display: none;
}
@media only screen and (min-device-width: 768px)  {
  .b2-iphone-pic {
    display: inline
  }
  .b2-feature{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
  }
  .home-feature {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    h5 {
      font-size: 1.5em;
    }
    figcaption {
      font-size: 1em;
    }
  }
}
.single-align {
    padding-bottom: 2%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
    text-align: right;
}
@media only screen and (min-device-width: 1200px)  {
}
