.b3-support-reviews {
  @extend %section-layouts;
  background-color: $background-B;
  font-family: 'Roboto', sans-serif;
  color: $highest-light;
  & .slant {
    @extend %svg;
    fill: $background-A;
    background-color: transparent;
  }
}