.b3-support-reviews{
  background: $background-B;
  color: $white;
  padding-bottom: 5em;
  padding-top: 5em;
}
.b3-support-reviews {
 h1 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 3em;
 }
 h2, p {
  font-family: "Roboto";
  font-style: lighter;
  font-size: 1em;
  margin-left: 25%;
  margin-right: 25%;
  }
}

.icon-title{
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.container-icon-review{
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-top: 8px solid transparent;
  border-bottom: 5px solid $white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  span {
    align-items: center;
    color: $white;
    font-size: 2em;
  }
}
.individual {
  display: flex;
  justify-content: center;
  justify-direction: row;
}
.individual-info {
  display: inline;
  text-align: left;
  margin-left: 0;
  margin-left: 0;
}

.b3-support-reviews {
  @extend %section-layouts;
  background-color: $background-B;
  font-family: 'Roboto', sans-serif;
  color: $highest-light;
  & .slant {
    @extend %svg;
    fill: $background-A;
    background-color: transparent;
  }
}

