.b3-support-reviews{
  background: $background-B;
  color: $white;
  padding-bottom: 5em;
  padding-top: 5em;
}
.review-container {
}

.icon-rightquote {

}
.half-container-icon {
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid $white;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
  margin: auto;
  // margin-bottom:
  // position: absolute;
}
.b3-support-reviews {
  @extend %section-layouts;
  background-color: $background-B;
  font-family: 'Roboto', sans-serif;
  color: $highest-light;
  & .slant {
    @extend %svg;
    fill: $background-A;
    background-color: transparent;
  }
}

