// help from https://www.youtube.com/watch?v=sDsyHJnkZn0
.c1-screenshots {
  background-color: #383838;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #fff;
}
* {
  padding: 0;
  margin: 0;
}

.carousel-2-outer{
  margin: 150px auto;
  padding: 10px;
  width: 450px;
  height: 450px;
  background-color: #fff;
  box-shadow: 0 0 2px #000;
}
.carousel-2-inner {
  width: 450px;
  height: 450px;
  overflow: hidden;
}

 .carousel-2-inner{
  width: 1350px;
  height: 450px;
  list-style: none;
}
.carousel-2-inner img{
  float: left;
  width: 450px;
  height: 450px;
}


