// help from https://www.youtube.com/watch?v=sDsyHJnkZn0

.c1-image-shown {
  display: inline-block;
}
.c1-image-hidden {
  display: none;
}
.carousel-2-inner {
  width: 100px;
  height: 320px;
  position: relative;
}
.carousel-2-inner img{
  width: 100%;
  width: 100%;
}
.c1-left {
}
.c1-right {
}
