.d2-download-our-app {
  @extend %section-layouts;
  @include bi-color-background ($low-light, $background-C);
  background-color: $background-C;
  font-family: 'Roboto', sans-serif;
  color: $highest-light;
  & .slant {
    @extend %svg;
    fill: $background-B;
    background-color: transparent;
  }
}

.subscribe-form {
  color: $highest-light;
  display: flex;
  flex-direction: column;
  input {
    border: none;
    border-bottom: 2px solid $low-light; 
    background: none;
    color: $low-light;
    width: 75%;
    margin: auto;
    display: block;
    height: 3em;
  }
}

.d2-img{
	float: left;
	margin-left: 25%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 5%;
}

.d2-content{
text-align: center;
	
}

.underlined-heading{
	margin-right: 10%;
}

.underlined-heading-text{
	margin-left: 0%;
}

.underlined-heading-underline{
	margin-right: 65%;
}

.d2-arrow{
margin-right: 0%;
margin-left: 25%;
}