.f2-reviews-contact {
  @extend %section-layouts;

  font-family: "Raleway", sans-serif;
  background-color: $background-C;
  color: $high-light;
}

.container-icon {
  margin: auto;
}

.contact-info {
  margin-bottom: 6em;
  li {
    margin-bottom: 2em;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  .contact-form-first-line {
    border: none;
    border-bottom: 2px solid $low-light; 
    background: none;
    color: $low-light;
    width: 75%;
    margin: auto;
    display: block;
    height: 3em;
  }
  textarea {
    height: 9em;
    width: 75%;
  }
}

.contact-form-first-line {
  @extend .contact-form;
}