.icon-container {
  background-color: white;
  height: 2em;
  width: 2em;
  color: black;
  border-top: 8px solid blue;
  border-bottom: 8px solid blue;
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  border-radius: 50%;
}