//variables are defined here

//font size placeholders
%tiny-font {
	font-size: $tiny-font-size;
}
%small-font {
	font-size: $small-font-size;
}
%medium-font {
	font-size: $medium-font-size;
}
%large-font {
	font-size: $large-font-size;
}

